html, body{
   overflow-x: hidden;
 }


 body {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   color:#31343d;
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Muli", Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
 }
h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
h1 {
   font-size:48px;
   font-weight: 300;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 300;
 }


img {
    max-width: 100%;
}


/* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }


/* HEADER */

header .navigation {
    height: 90px;
    width: 100%;
    background: rgb(49, 52, 61);
}

 header {
   color:#31343d;
   background: #FFFFFF;
  background-image: linear-gradient( 35deg, #00e0c7 0%, rgb(122,234,222) 0%, rgb(244,244,244) 80%);
}




header .one-half {
    padding: 1.5em 0 0 0;
    width:46%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
}

/*
 header nav {
   padding:1em 0;
 }
*/

 header nav ul {
   display: inline;
   text-align: right;
   float: right;
     margin: 0px;
 }

 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: 300;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }


 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: bold;
   text-decoration: none;
   padding:10px 30px;
   background: rgb(108, 99, 255);
 }
.btn:hover {
    color:#31343d;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(108, 99, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 27px 24px 0px rgba(49, 52, 61, 0.2);
 }


/* BENEFITS */
 .benefits {
   text-align: center;
   display:block;
   position:relative;
 }
 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits i {
   color:#5a6170;
   font-size:60px;
   margin:0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#5a6170;
 }


/* BENEFITS-Extended */
.collaboration {
    background: #f7f7f7;
    padding: 4em 0;
    position:relative;
}

.collaboration .content {
    padding: 11em 0;
    margin: 0 80px 0px 80px
}

.collaboration .content h2 {
    font-weight: normal;
    font-size: 28px;
    color: #5a6170;
}
.collaboration .content p {
  font-size:22px;
   line-height: 28px;
   font-weight: 300;
}

.collaboration .image {
    vertical-align: center;
    padding: 80px 0 0 100px;
}


.organization {
    background: #ffffff;
    padding: 3.75em 0;
    position:relative;
}

.organization .content {
    padding: 11em 0;
    margin: 0 50px 0px 120px
}

.organization .content h2 {
    font-weight: normal;
    font-size: 28px;
    color: #5a6170;
}
.organization .content p {
  font-size:22px;
   line-height: 28px;
   font-weight: 300;
}

.organization .image {
    vertical-align: center;
    padding: 130px 0 0 50px;
}


.browser-button {
    background: #f7f7f7;
    padding: 4.7em 0;
    position:relative;
}

.browser-button .content {
    padding: 11em 0;
    margin: 0 80px 0px 80px
}

.browser-button .content h2 {
    font-weight: normal;
    font-size: 28px;
    color: #5a6170;
}
.browser-button .content p {
  font-size:22px;
   line-height: 28px;
   font-weight: 300;
}

.browser-button .image {
    vertical-align: center;
    padding: 220px 0 0 100px;
    margin: 0 20px 0 0;
}



 /* PRICING */
 .pricing {
    background: #00e0c7 url("../images/background.png") top center no-repeat;
   background-image: linear-gradient( 35deg, rgb(0,224,199) 0%, rgb(45,161,156) 34%, rgb(90,97,112) 100%), url("../images/background.png") top center no-repeat;
   background-size:cover;
   text-align: center;
   padding:4em 0;
 }

.pricing h2, .pricing p {
   color:#FFFFFF;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }

.box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 485px;
   margin-top:0px;
 }
 .box h3 {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   background: #E2E2E2;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:10px 0;
 }

.box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#5a6170;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#5a6170;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {

   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }

 .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }


/*Get Started Today*/
.get-started {
   text-align: center;
   display:block;
   position: relative;
    padding: 4em 0 7.5em 0em;
 }
 .get-started h1 {
   font-size:48px;
   font-weight: 300;
 }
 .get-started p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }



/* FOOTER */

 footer {
   background-color: #31343d;
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
     float: right;
 }




 @media (min-width: 992px){
   footer{
     background-color: #31343d;
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }




/* Media Queries */

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

